$primary-color:rgb(233, 219,142);
$secondary-color: #4a4a2f;

@mixin tonyCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexaround() {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&family=Poppins:wght@200;300;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    .left{
        width: 100%;
        height: 50px;
        background-color:#6b6b4e;
        font-weight: bold;
        font-size: 25px;
       @include tonyCenter();
        color: #fff;
        // position: fixed;
    }
    .right {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // box-shadow: 5px 5px 5px black;
        background-color: $primary-color;

        @media (max-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
        } 

            img {
                height: 60px;
                width: 60px;
            }

            .links{
                padding: 20px;
            }

            ul {
                list-style: none;
                display: flex;

                li{
                    padding-left: 20px;
                    @media (max-width: 600px){
                        display: none;
                    } 

                    a{
                        text-decoration: none; 
                        // @media (max-width: 600px){
                        //     display: none;
                        // } 

                        &:hover{
                            color: #101010;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                }   
            } 
            .bars {
                display: none;
                @media (max-width: 600px){
                    display: flex;
                    font-size: 40px;

                    &:hover{
                        font-size: 50px;
                        color: red;
                        cursor: pointer;
                    }
                }
            }   
    }
}

main {
    width: 100vw;
    height: calc(100vh - 150px);
    background-image:url(./images/cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include tonyCenter();
    flex-direction: column;
    overflow: hidden;
    // color: #fff;

    h1{
        font-size: 70px;
        color: #fff;
        // margin-bottom: 50px;
        @media (max-width: 600px){
            font-size: 40px;
        }
    }
    h3{
        font-size: 50px;
        color: #fff; 
        margin-top: 20px;
        @media (max-width: 600px){
            font-size: 30px;
        }
    }

    @media (max-width: 600px){
        width: 100vw;
        height: calc(100vh - 150px);
    }

}

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: justify;
    background-color: $primary-color;

    h2{
        text-align: center;
        margin:20px 0;
        font-size: 60px;

        @media(max-width:600px){
            font-size: 40px;

            &:hover{
                color: #ff0000;
                font-size: 50px;
                transition: 1s ease-in-out;
            }
        }
    }
    p{
        font-weight: bold;
        // font-size: 15px;
    }
}

.services {
    width: 100%;
    height: auto;
    background-color: rgb(240, 222, 222);
    text-align: center;

    h2{
        font-weight: bold;
        font-size: 50px;

        @media(max-width:600px){
            font-size: 30px;

            &:hover{
                color: #ff0000;
                font-size: 40px;
                transition: 1s ease-in-out;
            }
        }
    }
    p{
        font-weight: bold;
        font-size: 25px;
    }

    .flex {
        @include flexaround();
        padding: 20px;
        // box-shadow: 5px 5px 5px #101010;

        @media (max-width: 600px){
            display: grid;

        }

        .card {
            width: 350px;
            height: auto;
            box-shadow: 5px 5px 5px #101010;
            margin: 20px;
            border-radius: 10px;

            .iconcontainer{
                color: black;
                // font-size: 30px;
            }
            .buy{
                button{
                width: 150px;
                height: 30px;
                margin: 10px;
                padding: 5px;
                color: #fff;
                background-color: red;
                align-items: center;
                border-radius: 20px;

                &:hover{
                    background: $primary-color;
                    color: #101010;
                }
                }
            }

            img {
                width: 100%;
                height: 300px;
                padding: 20px;
                border-radius: 10px;
            }

            &:hover {
                background: #6b6b4e;
                color: #fff;
                // font-size: 30px;
                transition: 1s ease-in-out;

            }
        }
    }
}

.review{
    width: 100%;
    height: auto;
    font-weight: bold;
    background: $primary-color;

    @media(max-width: 600px){
        width: 100%;
        height: auto;
        display: grid;    
    }

    h1{
        text-align: center;
        font-size: 30px;

        &:hover{
            color: red;
            font-size: 35px;
        }
        // @media(max-width: 600px){
        //     width: 100%;
        //     height: auto;
        // }

    }

    .post{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 25px;
        padding: 20px;

        span{
            color: #ff0000;
            font-weight: bold;
            font-size: 28px;
        }

        .fa {
            color: #6b6b4e;
            font-size: 15px;
        }

        @media(max-width: 600px){
            width: 100%;
            height: auto;
            border-radius: 30px;
            box-shadow: 5px 5px 5px black;
        }
    }
}

footer{
    width: 100%;
    height: 15vh;
    background-color: #4a4a2f;
    @include tonyCenter();
    flex-direction: column;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    font-size: 25px;
    color: #fff;


    .right img{
        width: 20px;
        height: 20px;
        margin-top: 15px;

        &:hover{
            font-size: 40px;
            transition: 1s ease-out;
        }
    }
}