@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&family=Poppins:wght@200;300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .left {
  width: 100%;
  height: 50px;
  background-color: #6b6b4e;
  font-weight: bold;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header .right {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9db8e;
}

@media (max-width: 600px) {
  header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header .right img {
  height: 60px;
  width: 60px;
}

header .right .links {
  padding: 20px;
}

header .right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .right ul li {
  padding-left: 20px;
}

@media (max-width: 600px) {
  header .right ul li {
    display: none;
  }
}

header .right ul li a {
  text-decoration: none;
}

header .right ul li a:hover {
  color: #101010;
  text-transform: uppercase;
  font-weight: bold;
}

header .right .bars {
  display: none;
}

@media (max-width: 600px) {
  header .right .bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
  }
  header .right .bars:hover {
    font-size: 50px;
    color: red;
    cursor: pointer;
  }
}

main {
  width: 100vw;
  height: calc(100vh - 150px);
  background-image: url(./images/store.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main h1 {
  font-size: 70px;
}

@media (max-width: 600px) {
  main h1 {
    font-size: 40px;
  }
}

main h3 {
  font-size: 50px;
  color: #ff0000;
}

@media (max-width: 600px) {
  main h3 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  main {
    width: 100vw;
    height: calc(100vh - 150px);
  }
}

.about {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: justify;
  background-color: #e9db8e;
}

.about h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}

@media (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
  .about h2:hover {
    color: #ff0000;
    font-size: 50px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.about p {
  font-weight: bold;
}

.services {
  width: 100%;
  height: auto;
  background-color: #f0dede;
  text-align: center;
}

.services h2 {
  font-weight: bold;
  font-size: 50px;
}

@media (max-width: 600px) {
  .services h2 {
    font-size: 30px;
  }
  .services h2:hover {
    color: #ff0000;
    font-size: 40px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.services p {
  font-weight: bold;
  font-size: 25px;
}

.services .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .services .flex {
    display: -ms-grid;
    display: grid;
  }
}

.services .flex .card {
  width: 350px;
  height: auto;
  -webkit-box-shadow: 5px 5px 5px #101010;
          box-shadow: 5px 5px 5px #101010;
  margin: 20px;
  border-radius: 10px;
}

.services .flex .card .iconcontainer {
  color: black;
}

.services .flex .card .buy button {
  width: 150px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  color: #fff;
  background-color: red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.services .flex .card .buy button:hover {
  background: #e9db8e;
  color: #101010;
}

.services .flex .card img {
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}

.services .flex .card:hover {
  background: #6b6b4e;
  color: #fff;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: #4a4a2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */